.table {
    margin-top: 20px;
    overflow-y: scroll;
    height: 450px;
}

.table table {
    width: 100%;
    color: #6a5d5d;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td,
.table th {
    padding: 0.5rem;
}

.table tr:nth-of-type(even) {
    background-color: #f3f2f8;
}